$black:black;
$white:white;
$gray: gray;
$red: red;
$darkgray: darkgray;
$inpColor:#555;
$basicWhite: #fff;
$basicGray: #ccc;
$inpBorder: #e6e6e6;
$labelCheck:#706C6C;
$background: #EED7D7;
$backSelect:#2c3e50;